/**
* @module weather
* @version V1.1
* @author rshah9
* @desc global color
*/

$color-desaturated-blue:#434370;
//Font colors
$color-dark-grey: #465162;
$color-medium-grey: #6f7680;
$color-light-grey: #a7b6c0;
$color-off-white: #f8f8f8;
$color-lighter-dark-violet:#400095;
$color-desaturated-light-blue:#62619e;
$color-teal:#02b5b4;
$color-lightblue:#00fffe;
$color-grayish-blue:#303b42;
$color-lavender:#989cc0;
$color-link-blue:#29a5db;
$color-text-black:#333333;
$color-link-grey:#b4b4b4;

//Hero Colors
$color-light-grayish-cyan:#d9e0e2;
$color-light-blue:#0f5689;
$color-dark-blue:#004b7c;
$color-dark-teal:#00a8a7;
$color-light-strong-cyan:#12a0c4;
$color-strong-cyan:#0d92b4;
$color-pink:#b640bd;
$color-dark-magenta:#9c28b1;

//Alert Color
$color-strong-red:#cc3333;

//Background Colors
$color-slate:#1c253a;
$color-desaturated-dark-blue:#333366;
$color-desaturated-blue:#434370;
$color-light-grey: #a7b6c0;
$color-light-grayish-blue: #f4f5f7;
$white: #fff;
$color-banner-background-grey: #f9fafb;
$color-desaturated-background-blue: #3c385c;
$color-purple-icon: #6262a0;
$color-background-perks: #0e92b4;

//Additional Colors
$color-light-grayish-cyan:#e7edef;
$color-dark-purple:#3a057f;
$color-purple:#360279;
$color-light-purple:#3c455a;
$color-purple-black:#080d15;
$color-lighter-purple: #2f3845;
$color-light-violet:#626196;
$color-dark-cyan: #2bb1a2 ;
$color-line-separator: #515183;
$color-line: #dedede;
$color-alt-grey-blue:#eeeff3;
$color-alt-light-grey-blue:#f6f7f9;
$color-alt-light-light-grey:#e5e5e5;
$color-alt-light-blue:#dbe1e3;

//Buttons colors
$color-button-blue:#0395d5;
$color-button-strong-blue:#037fb5;
$color-button-purple:#5c5b94;
$color-button-soft-cyan:#a8e9f4;
$color-button-desaturated-cyan:#94cdd6;
$color-grayish-cyan:#bfc5c7;
$color-button-desaturated-purple:#5c5b94;
